.intro {
}

.container {
    padding-top: 40px;
    padding-bottom: 170px;
    width: 100%;
    height: 100vh;
    background: url(../../images/123.jpg) center no-repeat;

    background-size: cover;
}

.product__info {
    display: block;
}