

.product__h,
.product__info {
    display: block; 
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 60px 0 20px 0;
}

.product__info {
    padding: 20px 0 20px 0;
}

.leather__head {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 7%;
    margin-left: 20%;
}

.main_img {
    display: inline-block;
    width: 80%;
    height: 60%;

    &:hover {
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
}

.stuff {
    display: inline-block;
    width: 20%;
    height: 40%;
    
}