.ul__header {
    padding: 5px;
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.ul__text {
    padding: 5px;
    padding-left: 50px;
    font-size: 12px;
    color: gray;
}

.rights {
    padding: 5px;
    padding-left: 50px;
    font-size: 10px;
}