<footer class="footer">
    <div class="footer__info">
        <ul class="footer__ul">
            <li>
                <p class="ul__header">
                    Помощь
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Доставка
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Оплата
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Возврат
                </p>
            </li>
        </ul>
    </div>
    <div class="lether__stuff">
        <img class="lether" src="/assets/images/Logo.png" alt="Кожа">
        <p class="rights">
            all rights reserved by xxx_egorka2007_xxx
        </p>
    </div>
</footer>
