<footer class="footer">
    <div class="footer__info">
        <ul class="footer__ul">
            <li>
                <p class="ul__header">
                    Помощь
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Доставка
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Оплата
                </p>
            </li>
            <li>
                <p class="ul__text">
                    Возврат
                </p>
            </li>
        </ul>
        <ul class="footer__ul">
            <p class="rights">
                Я защитил права вот.
            </p>
        </ul>
    </div>
</footer>
