<footer class="footer">
    <div class="footer__info">
        <ul class="footer__ul">
            <li>
                <a href="/help.html" class="ul__header">
                    Помощь
                </a>
            </li>
            <li>
                <a href="/help.html" class="ul__text">
                    Доставка
                </a>
            </li>
            <li>
                <a href="/help.html" class="ul__text">
                    Оплата
                </a>
            </li>
            <li>
                <a href="/help.html" class="ul__text">
                    Возврат
                </a>
            </li>
        </ul>
    </div>
    <div class="leather__stuff">
        <img class="leather" src="/assets/images/LogoWithoutText.png" alt="Кожа">
        <p class="rights">
            all rights reserved by egorka
        </p>
    </div>
</footer>
