<header class="header">
    <div class="header__nav">
        <div class="header__logo">
            <a href="/index.html">
                <img src="/assets/images/LogoWithoutText.png" alt="logo" class="logo">
            </a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a href="/index.html" class="nav__link">Главная</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Мужчины</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Женщины</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Помощь</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header__search">
        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Поиск">
        </form>
        <div class="header__cart">
            <a href="#" alt="cart">
                <img src="/assets/images/cart.png" alt="cart" class="cart">
            </a>
        </div>
   </div>
</header>
